.cardContainer {
  background-color: var(--base-card);
  border-radius: 8px 53px 8px 30px;

  display: flex;
  gap: 4px;
  width: 256px;
  height: 370px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  

  h2 {
    color: var(--base-subtitle);
    font-family: "Baloo 2";
  }

  span {
  color: var(--base-label);
  font-family: "Roboto";
  font-size: 14px;
  text-align: center;

}

.price {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}
}



.cardImg {
  width: 120px;
  height: 120px;
  /* object-fit: cover; */
  margin: -2rem;
  border-radius: 50%;
}


.cartButton {
  width: 38px;
  height: 38px;
  padding: 8px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--purple-dark);
}

.counter {
  width: 72px;
  height: 38px;
  background-color: var(--base-button);
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
