

.listContainer {
    width: 100%;
    min-height: 100vh;
    /* margin-top: 1rem; */
    padding: 2rem 10rem;

    h2 {
        color: var(--base-subtitle);
        font-weight: bold;
        margin-bottom: 3rem;
    }
}

.coffeeList {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
    
}

@media (max-width : 1024px) {
    .coffeeList {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    
}